body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Arial", Arial, sans-serif;
}
canvas {
	margin:0px;
}
#m {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	width: 20%;
	height: 1em;
}
#messages {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	bottom: 1em;
	z-index: 10;
	width: 20%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
	white-space: -pre-wrap;
    white-space: -o-pre-wrap;
	text-align: left;
}
#inmessages {
	margin: 0px;
	padding: 0px;
	width: 100%;
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
	white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}